@import "tailwindcss";

@theme {
  --font-display: "Saira Stencil One", sans-serif;
  --font-body: "Rajdhani", sans-serif;

  --color-cyber-yellow: #fce800;
  --color-cyber-pink: #ff003c;
  --color-cyber-blue: #00f0ff;
  --color-cyber-black: #050505; /* Đen sâu hơn để làm nổi bật 3D */

  --animate-scanline: scanline 8s linear infinite;
  --animate-marquee: marquee 20s linear infinite;
  --animate-flicker: flicker 4s infinite;
  --animate-flicker-fast: flicker 2s infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

body {
  background-color: #050505;
  color: white;
  font-family: var(--font-body);
  overflow-x: hidden;
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  } /* Dịch chuyển hết chiều dài của chính nó */
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    filter: brightness(1);
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    filter: brightness(0.5);
  }
  21%,
  21.9% {
    opacity: 0.1;
  }
}

/* Utility class cho thanh cuộn đẹp hơn */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-cyber-pink);
}
