@import "tailwindcss";

@theme {
  --font-display: "Saira Stencil One", sans-serif;
  --font-body: "Rajdhani", sans-serif;

  --color-cyber-yellow: #fce800;
  --color-cyber-pink: #ff003c;
  --color-cyber-blue: #00f0ff;
  --color-cyber-black: #050505; /* Đen sâu hơn để làm nổi bật 3D */

  --animate-scanline: scanline 8s linear infinite;
  --animate-marquee: marquee 20s linear infinite;
  --animate-flicker: flicker 4s infinite;
  --animate-flicker-fast: flicker 2s infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

body {
  background-color: #050505;
  color: white;
  font-family: var(--font-body);
  overflow-x: hidden;
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  } /* Dịch chuyển hết chiều dài của chính nó */
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    filter: brightness(1);
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    filter: brightness(0.5);
  }
  21%,
  21.9% {
    opacity: 0.1;
  }
}

/* --- CUSTOM SCROLLBAR (CROSS-BROWSER) --- */

/* 1. Hỗ trợ Firefox (Dùng chuẩn mới) */
html {
  scrollbar-width: thin; /* Thanh cuộn nhỏ */
  scrollbar-color: #333 var(--color-cyber-black); /* Màu thanh / Màu nền */
}

/* 2. Hỗ trợ Chrome, Edge, Safari (Webkit) */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng dọc */
  height: 8px; /* Độ cao ngang (nếu có scroll ngang) */
}

::-webkit-scrollbar-track {
  background: var(--color-cyber-black);
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 0px; /* Cyberpunk thì nên để vuông vức (0px) hoặc bo nhẹ (2px) */
  border: 1px solid var(--color-cyber-black); /* Viền giả để tách biệt */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-cyber-pink); /* Đổi màu khi hover */
  box-shadow: 0 0 10px var(--color-cyber-pink); /* Thêm hiệu ứng phát sáng (Glow) */
}

/* Sửa lỗi nền trắng khi kéo quá đà (Overscroll) trên Mac/Mobile */
html,
body {
  overscroll-behavior: none;
}
